<!DOCTYPE html>
{% load static %}
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Energym</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Font styles -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
    rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- Responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- Slider section -->
    <section class="slider_section position-relative">
      <div class="container-fluid px-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'index'%}">Energym</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'service' %}">Services</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          Plan
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'buyplan'%}">Buy a Plan</a>
                          <a class="dropdown-item" href="{% url 'viewplan'%}">View a Plan</a>


                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          {% if user.is_authenticated %}
                          {{ user.username }}
                          {% else %}
                          Account
                          {% endif %}
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          {% if user.is_authenticated %}
                          <a class="dropdown-item" href="{% url 'logoutuser' %}">Logout</a>
                          {% else %}
                          <a class="dropdown-item" href="{% url 'registeruser' %}">Register</a>
                          <a class="dropdown-item" href="{% url 'loginuser' %}">Login</a>
                          {% endif %}
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
      
        
      </div>
      <div class="container">
        {% if messages %}
          <div class="alert alert-info" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      </div>
      {% block content %}
      
      {% endblock %}

      <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

      <script>
        function openNav() {
          document.getElementById("myNav").classList.toggle("menu_width");
          document
            .querySelector(".custom_menu-btn")
            .classList.toggle("menu_btn-style");
        }
      </script>
    </body>
</html>
